
table {
	width: 100%;

	th {

	}
	tr {
		border: 10px solid transparent;
		display: block;
		border-left: 0;
		border-right: 0;
		&.date-row {
			background: gray;
		}
		&.title-row {
			border-left: 0;
			color: orange;
		}
		&:hover {
			background-color: black;
		}
	}
	td {
		display: block;
		width: 30%;
		display: inline-block;
		vertical-align: top;
		padding: 16px;
	}

}