
table {
	width: 100%;

	th {

	}
	tr {
		border: 10px solid transparent;
		display: block;
		&.date-row {
			background: gray;
			font-size: 1.25em;
		}
		&.title-row {
			border-left: 0;
			color: orange;
			font-size: 1.5em;
		}
	}
	td {
		display: block;
		display: inline-block;
		vertical-align: top;
	}
	
	.show {
		background: #887d7d;
		margin: 1em 0;
		td {
			width: 45%;
			padding: .5em;
		}

		&:hover {
			background-color: black;
		}
		@media(min-width: 600px) {
			margin: 0;
			background: none;
			td {
				width: 30%;
				padding: 1% 1% 1% 0;
			}
		}
	}

	.show-locale {
		text-align: right;
		@media(min-width: 600px) {
			text-align: left;
		}
	}

}